<div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title">Shipping Methods</div>
<div class="shipping_buttons">
	<button class="button_delivery" style="background: #393838; border-color: #393838; color: #ffffff;"><img src="/media/logo/van.png" style="padding-right:10px" />Delivery</button>
	<button class="button_click_collect" style="background: #393838; border-color: #393838; color: #ffffff;"><img src="/media/logo/approval.png" style="padding-right:10px" />Click & Collect</button>
</div>